# Generators
abc

# Renderers and dependencies
ospray
ospray-studio
ospray-studio-deps
pbrt
VisRTX
hayStack
nvisii

# Tools
vdb2raw
teem

# Temp files
imgui.ini
talapas_images

# Generated images
images/

# Saved images
output/

# Data files
volumes/

# Talapas artefacts
talapas_jobs/
talapas_logs/
