# Generators
abc

# Renderers and dependencies
ospray
ospray-studio
ospray-studio-deps
pbrt
VisRTX
hayStack
nvisii

# Temp files
imgui.ini

# Generated images
images/

# Saved images
output/

# Data files
volumes/
